<% - include('./layout/top') %>
<h1>VÄLLKOMMEN TILL CHAT APP</h1>
<form action="setname" method="POST">
    <input type="text" name="username" placeholder="Enter your name">
    <button>ENTER CHAT</button>
</form>
<% - include('./layout/bottom') %> 